nav{
    height: 50px;
    background-color:lightgray;
    line-height: 30px;
    font-size: 30px;
}
nav ul li{
    list-style-type: none;
    float: left;
    padding:10px}
nav ul li a{
    text-decoration: none;
    color:black;
}
nav li:hover{
    background-color: lightsteelblue;
    color:linen;
}
nav